<div class="bg-gray-800">
    <div class="w-8/12 flex flex-row text-white py-20 px-8 mx-auto shadow rounded-2xl">
        <div class="h-full w-4/12">
            <div class="w-full flex flex-col m-0 inline-flex">
                <div class="h-32 w-32 rounded-full bg-gray-700 mx-auto mb-4">
                    <img src="https://avatars.githubusercontent.com/u/29686187?v=4" class="h-full w-full rounded-full object-cover" alt="Dipesh">
                </div>
                <div class="text-center">
                    <a href=""><i class="fab fa-github text-2xl"></i></a>
                </div>
                <div class="text-center">
                    <a href=""><i class="fab fa-linkedin text-2xl"></i></a>
                </div>
                <div class="text-center">
                    <a href=""><i class="fab fa-twitter text-2xl"></i></a>
                </div>
                <div class="text-center">
                    <a href=""><i class="fab fa-instagram text-2xl"></i></a>
                </div>
            </div>
        </div>
        <div class="h-max w-7/12 m-0 inline-flex">
            I'm <span class="font-bold">Dipesh</span>, a <span class="font-bold">Software Developer at Microsoft</span> from India.
        </div>
    </div>
</div>