<div class="bg-gray-800">
    <div class="max-w-7xl flex flex-col items-left text-white py-20 px-8 mx-auto">
        <div class="text-9xl"><span class="font-bold">Hi</span> there!</div>
        <div class="text-2xl">I'm <span class="font-bold">Dipesh</span>, a <span class="font-bold">Software Developer at Microsoft</span> from India.</div>
    </div>
</div>