---
layout: page
title: Posts
showtagslist: false
---
<main class="main-style">
    <div id="list-body" class="body-style">
        <div id="list-header" class="section-spacing">
            {{ content | safe }}
        </div>

        <div id="list-content" class="lg:w-10/12 mx-auto text-left">
            {% for post in collections[selectedtag] %}
                {% if post.data.show %}
                    <div class="flex flex-col md:flex-row w-full mb-16 shadow-lg md:h-64 lg:h-72 dark:bg-neutral-800">
                        <div class="w-full h-48 md:w-4/12 md:h-full">
                            <a href="{{ post.url }}" class="w-full h-full">
                                <img src="/assets/images/{{ post.data.post_image }}" 
                                    class="object-cover w-full h-full" alt="{{ post.data.title }}"> 
                            </a>
                        </div>
                        <div class="flex flex-col justify-between
                                        p-8 w-full md:py-4 md:px-12 md:w-8/12 ">
                            <div id="card-header">
                                <p class="lg:text-3xl md:text-xl font-bold font-opensans mb-2">
                                    <a href="{{ post.url }}">{{ post.data.title }}</a>
                                </p>
                                <p class="text-base mb-4">
                                    {{ post.data.description }}
                                </p>
                            </div>
                            <div id="card-extradetails" class="text-sm font-semibold">
                                <div class="flex flex-row justify-between text-gray-500 dark:text-neutral-200 mb-2">
                                    {% if 'Project' in post.data.tags %}
                                    <span>{{ post.data.startdate | postMonth }} - {{ post.data.enddate | postMonth }}</span>
                                    <span>
                                        <a href="{{ post.data.sourcecode }}" class="hover:text-gray-600">
                                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                        </a>
                                    </span>
                                    {% else %}
                                    <span>{{ post.data.readingtime }}</span>
                                    <span>{{ post.data.publishdate | postDate }}</span>
                                    {% endif %}
                                </div>

                                <hr class="mb-2">
                                <ul class="flex flex-row flex-wrap gap-x-2 gap-y-4 mb-2">
                                    {% for tag in post.data.tags %}
                                        <li class="text-gray-900">
                                            <a href="/tags/{{ tag | slugify }}/">
                                                <span class="text-xs 
                                                            bg-gray-200 rounded-md px-2 py-1 my-1">
                                                    {{ tag }}
                                                </span>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <hr class="mb-2">
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</main>