---
title: Page
---
<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | {{ info.sitename }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/tailwind.css' | url }}">
    <script src="https://kit.fontawesome.com/a69420ddea.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/images/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/images/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    {% eleventyGoogleFonts 'https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap' %}
    {% eleventyGoogleFonts 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap' %}
</head>
<body class="m-0 p-0 relative min-h-screen body-pattern-dark" onload="window.App.onLoadInit()">
    {% include '_navbar.njk' %}
    {{ content | safe }}
    {% include '_footer.njk'%}
    <script src="/js/bundle.js"></script>
</body>
</html>