---
layout: list
title: Blogs
permalink: /blogs/
selectedtag: Blog
---

<div class="text-center">
    <p class="text-4xl font-bold">{{ title }}</p>
    <p class="text-xl font-normal">A collection of blogs I have written over the years.</p>
</div>