---
layout: list
title: Blogs
permalink: /blogs/
selectedtag: Blog
---

<div class="text-center">
    <p class="text-4xl md:text-6xl font-bold font-opensans mb-2 md:mb-8">{{ title }}</p>
    <p class="text-base md:text-xl md:font-semibold mb-8 md:mb-16">A collection of articles, blogs, quotes I have written ( and collected ) over the years.</p>
    <hr class="w-10/12 mx-auto">
</div>