---
title: Contact
permalink: /contact/
---
<main class="max-w-6xl mx-auto py-32">
    <div id="contact-body" class="bg-white text-center p-16">
        <div id="contact-header" class="mb-16">
            <h1 class="text-6xl font-bold font-opensans">Get In Touch</h1>
        </div>
        <div id="contact-content" class="flex flex-row text-left">
            <div class="py-12 border-r-2 w-4/12 mx-auto">
                <ul class="w-10/12 text-base">
                    {% for social in info.socials %}
                    <li class=" group mb-4">
                        <a href="{{ social.url }}" target="_blank" 
                            rel="noopener noreferrer">
                            <span class="mx-2">
                                <i class="{{ social.icon }}"></i>
                            </span>
                            <span class="font-semibold group-hover:underline">{{ social.name }}</span>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="w-8/12 mx-auto px-16">
                <form action="https://data.endpoint.space/clpp139hq001408jwdjjr4cms"
                        method="POST" class="flex flex-col mx-auto gap-y-2">
                    <label for="name" class="font-semibold text-sm w-32">Name</label>
                    <input type="text" name="name" id="name" required 
                            class="bg-gray-200 p-2"/>
                    <label for="email" class="font-semibold text-sm">Email</label>
                    <input type="text" name="email" id="email" required 
                            class="bg-gray-200 p-2"/>
                    <label for="message" class="font-semibold text-sm">Message</label>
                    <textarea name="message" id="message" required rows="5" 
                            class="bg-gray-200 p-2"> </textarea>
                    <button class="font-semibold rounded-md p-2 mx-auto mt-8 bg-gray-400 w-64 text-center">Send</button>
                </form>
            </div>
        </div>
    </div>
</main>