---
title: Gallery
permalink: /gallery/
---

<main class="max-w-6xl mx-auto pt-16">
    <div id="gallery-body" class="bg-white text-center mt-32 pb-12">
        <div id="gallery-header" class="pt-8 pb-8 text-center">
            <p class="text-6xl font-bold mt-8 mb-8">Gallery</p>
        </div>
        <div id="gallery-content" class="px-6">
            {% for image in collections.gallery %}
                <a class="item" href="{{ image.src }}" target="__blank">
                    <img src="{{ image.src }}" width="{{ image.width }}"
                            height="{{ image.height }}"
                            title="{{ image.name }}"
                            alt="{{ image.name }}"
                            class="rounded-lg">
                </a>
            {% endfor %}
        </div>
    </div>

    <style>
        #gallery-content {
            column-count: 3;
            column-gap: 2em;
            padding-top: 16px;

            .item {
                display: block;
                background-color: #eee;
                margin: 0 0 2em;
                width: 100%;
                img{
                margin: 0;
                }
            }

            @media only screen and (max-width: 767px) and (min-width: 540px) {
                column-count: 2;
            }

            @media only screen and (max-width: 600px) {
                column-count: 1;
            }
        }


    </style>
</main>