---
title: Gallery
permalink: /gallery/
---

<main class="max-w-6xl mx-auto pt-16 ">
    <div id="gallery-body" class="bg-white dark:bg-neutral-900 text-center mt-32 pb-12">
        <div id="gallery-header" class="pt-8 pb-8 text-center">
            <p class="text-6xl font-bold mt-8 mb-8">Gallery</p>
        </div>
        <div id="gallery-container" class="gallery-content px-6">
            {% for image in collections.gallery %}
                <a class="gallery-item" href="{{ image.src }}" target="#">
                    <img src="{{ image.src }}" width="{{ image.width }}"
                            height="{{ image.height }}"
                            title="{{ image.name }}"
                            alt="{{ image.name }}"
                            class="rounded-lg">
                </a>
            {% endfor %}
        </div>
    </div>
</main>