---
title: Home
permalink: /
---
<main class="max-w-7xl mx-auto">
    <div id="hero">
        <div id="photo" class="mt-32">
            <img src="/assets/images/ted.jpg" alt=""
                class="w-60 h-60 mx-auto object-cover rounded-full filter drop-shadow-xl">
        </div>
        <div id="intro" 
            class="mt-16 mb-8">
            <h1
                class="text-4xl text-center font-yusei">Hi there! I'm TED.</h1>
            <p class="text-center max-w-3xl mt-4 mx-auto text-lg">
                I'm a software engineer, writer, and musician and above all, an <b>ARCHITECT</b>.
            </p>
        </div>
        <div id="socials"
            class="mx-auto flex flex-row items-center justify-center mb-32 md:mb-20">
            {% for social in info.socials %}
                <span class="mx-4">
                <a href="{{ social.url }}" target="_blank" rel="noopener noreferrer">
                    <i class="{{ social.icon }}"></i>
                </a></span>
            {% endfor %}
            {# Fill using data #}
        </div>
    </div>
    <div id="about" class="my-16 md:my-8 bg-white">
        <div id="about-heading" class="max-w-3xl mx-auto">
            <h2 class="text-3xl font-yusei text-center">About Me</h2>
            <p class="mt-8 text-justify">
                Hello, I'm Dipesh Kumar, a dedicated Software Developer II at 
                Microsoft with a 2-year track record in software development. 
                My expertise lies in crafting sophisticated features using 
                the Windows Presentation Foundation (WPF) framework. 
                Known for my collaborative skills, I excel in converting 
                complex requirements into scalable software solutions, 
                always eager to embrace new technologies and tools.
                <br>
                <br>
                I bring substantial experience in backend REST development, 
                and I'm proficient in Angular and Django frameworks. 
                Data structures, algorithms, system design, and architecture 
                are areas that captivate my interest.

                Additionally, I'm deeply interested in Natural Language 
                Processing, having engaged in several projects in this realm.
                I thrive on tackling challenging problems and embrace demanding 
                tasks with enthusiasm.
                
                In my leisure, I enjoy indulging in design, photography and reading.
            </p>
        </div>
    </div>
    <div id="skills" class="bg-white">
        <div id="skills-heading" class="max-w-3xl mx-auto mt-16">
            <h2 class="text-3xl font-yusei text-center">Skills</h2>
            <p class="mt-8 text-center">
                Technologies and languages that I have worked with:
            </p>
        </div>
        <div id="skills-list" class="max-w-3xl mx-auto mt-8">
            <div class="flex flex-row flex-wrap">
                {% for skill in info.skills %}
                    <span class="rounded-full p-4 bg-gray-200 m-2 align-middle" >
                        <i class="{{ skill.icon }} text-4xl m-auto text-gray-[750]"></i>
                    </span>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="projects" class="bg-white">
        <div id="projects-heading" class="max-w-3xl mx-auto mt-16">
            <h2 class="text-3xl font-yusei text-center">Projects</h2>
            <p class="mt-4 mx-auto text-center">
                I have worked on various small and big projects - simple web apps to complex database management systems. 
                Here are some of the interesting ones. I have mentioned the rest of them in the <a href="#"><u>Projects</u></a> page.
            </p>
        </div>
        <div id="projects-list" class="max-w-3xl mx-auto mt-8 mb-8 flex flex-row flex-wrap gap-x-6 justify-center">
            {% for selected_project in info.selectedprojects %}
                {% for project in collections.Project %}
                    {% if project.data.post_slug == selected_project %}
                        <div id="{{ project.post_slug }}-project-card" style="width:45%" class="rounded-lg shadow-lg p-4 mt-4 bg-white">
                            <div class="flex flex-row justify-between">
                                <span class="font-semibold">{{ project.data.title }}</span>
                                <spam>
                                    <a href="{{ project.data.sourcecode }}">
                                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                    </a>
                                </span>
                            </div>
                            <hr class="mt-3">
                            <div class="mt-2 min-h-8 max-h-32">
                                <span class="text-sm">{{ project.data.description }}</span>
                            </div>
                            <div class="mt-2">
                                {# <span class="text-sm">Technologies used:</span> #}
                                <div class="flex flex-row flex-wrap justify-start">
                                    {% for tech in project.data.tags %}
                                        <span class="text-xs font-semibold bg-gray-200 rounded-md px-2 py-1 m-1">{{ tech }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</main>
