---
title: Home
permalink: /
---
<main class="main-style">
    <div id="index-body" class="body-style md:py-24">
        <div id="hero-section" class="section-spacing">
            <div id="photo" class="inline-block w-auto mb-8 md:mb-12 
                                        rounded-full shadow-2xl-dark">
                <img src="/assets/images/dipesh2.jpg" alt=""
                    class="w-60 h-60 mx-auto object-cover 
                                rounded-full filter">
            </div>
            <div id="intro" class="mb-8">
                <h1 class="page-title-font-style text-3xl mb-4 md:mb-8">
                    Hi there! I'm Dipesh.
                </h1>
                <h3 class="page-description-font-style section-div">
                    I'm a <b>Software Engineer</b> with a knack for almost everything.
                </h3>
            </div>
            <div id="socials"
                class="flex flex-row flex-wrap justify-center items-center mx-auto mb-8 md:mb-16">
                {% for social in info.socials %}
                    <span class="mx-4">
                    <a href="{{ social.url }}" target="_blank" rel="noopener noreferrer">
                        <i class="{{ social.icon }} fa-lg"></i>
                    </a></span>
                {% endfor %}
            </div>
            <hr class="mx-auto w-10/12 md:w-8/12">
        </div>

        <div id="about-section" class="section-div section-spacing">
            <h2 class="section-heading md:mb-8">About Me</h2>
            <p class="text-justify">
                Hello and welcome! I'm Dipesh Kumar, a spirited Software Developer 
                II at Microsoft, where I contribute on maintaining WPF's robustness 
                and introducing new innovative features.
                <br>
                <br>
                In my software journey, I've developed a strong knack for backend REST 
                development and have honed my skills in the Angular and Django frameworks. 
                I'm deeply fascinated by the realms of data structures, algorithms, 
                system design, and architecture - areas where I continually seek to 
                expand my expertise. My professional curiosity also extends into 
                the field of Natural Language Processing, a domain where 
                I've engaged in multiple stimulating projects.
                <br>
                <br>
                When I am not working, one will find me immersed in 
                making designs, editing photos and reading. Currently, 
                I'm reading <span class="font-semibold"><i>Harry Potter and the 
                Order of the Phoenix.</i></span>. Among my other recent reads, I really
                enjoyed <span class="font-semibold"><i>Animal Farm</i></span> by G. Orwell.
                Beyond my professional pursuits, I'm an avid lover of tea and coffee 
                - the perfect companions for both code and contemplation. 
                My love for adventure often takes me on hiking trails and road trips, 
                experiences that I cherish and share in the gallery on this website.
            </p>
        </div>
        
        <div id="skills-section" class="section-div section-spacing">
            <div id="skills-heading" class="mb-4 md:mb-8">
                <h2 class="section-heading">Skills</h2>
                <p>
                    Technologies and languages that I have worked with:
                </p>
            </div>
            <div id="skills-list" class="flex flex-wrap justify-center flex-row md:justify-normal">
                    {% for skill in info.skills %}
                        <span class="rounded-full p-4 bg-gray-200 m-2 align-middle" >
                            <i class="{{ skill.icon }} text-4xl m-auto text-gray-[750]"></i>
                        </span>
                    {% endfor %}
            </div>
        </div>
        
        <div id="projects-section" class="section-div">
            <div id="projects-heading" class="mb-4 md:mb-8">
                <h2 class="section-heading">Projects</h2>
                <p class="text-justify">
                    In my professional journey, I've tackled a wide range of projects, 
                    from simple web apps to complex database management systems. 
                    Each one has offered unique challenges and learning opportunities. 
                    Below are some of the most intriguing projects I've worked on. 
                    For a complete overview of my projects, visit the Projects page.
                </p>
            </div>
            <div id="projects-list" class="flex flex-wrap justify-center flex-col md:flex-row md:gap-x-6 text-left
                                            w-10/12 md:w-full mx-auto">
                {% for selected_project in info.selectedprojects %}
                    {% for project in collections.Project %}
                        {% if project.data.post_slug == selected_project %}
                            <div id="{{ project.post_slug }}-project-card" 
                                class="md:w-9/20 rounded-lg shadow-lg mb-8 md:mb-4">
                                <img src="/assets/images/{{ project.data.post_image }}" alt=""
                                    class="w-full h-32 object-cover">
                                <div class="p-4">
                                    <div class="flex sm:flex-col flex-row justify-between">
                                            <a href="{{ project.url }}">
                                        <span class="font-bold pr-2">{{ project.data.title }}</span>
                                            </a>
                                    </div>
                                    <hr class="mt-3">
                                    <div class="mt-2 min-h-8 max-h-32">
                                        <span class="text-sm">{{ project.data.description }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</main>
