---
layout: list
title: Projects
permalink: /projects/
selectedtag: Project
---

<div class="text-center">
    <p class="text-6xl font-bold font-opensans">{{ title }}</p>
    <p class="text-xl font-semibold mb-16">List of all the projects that I have done 
        over the years - starting from college.</p>
    <hr class="w-10/12 mx-auto">
</div>