---
layout: list
title: Projects
permalink: /projects/
selectedtag: Project
---

<div>
    <h1 class="page-title-font-style mb-2 md:mb-8">
        {{ title }}
    </h1>
    <h3 class="page-description-font-style mb-8 md:mb-16">
        List of all the projects that I have done 
        over the years - starting from college.
    </h3>
    <hr class="w-10/12 mx-auto">
</div>